services:
  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s # runs the test cmd every 5s
      timeout: 5s # max. amount of time it waits for the test cmd to finish running
      retries: 10 # how many times to retry the test command before deeming it unhealthy

  web:
    build: .
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5001:5000"

volumes:
  pgdata:
